{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3">Задание к лабораторной работе № 3</h1>

    <p>
        Цели работы
        <ul>
            <li>Изучить встроенный во Flask механизм управления сессией,</li>
            <li>реализовать аутентификацию пользователей при помощи Flask_login</li>
        </ul>
    </p>
{% endblock %}