{% macro render_film_form(url, genres, film={}) %}

    <form action="{{ url }}" method="POST">
        <div class="form-group row">
            <label for="filmName" class="col-form-label col-md-2" >Название</label>
            <div class="col-md-6">
                <input class="form-control" type="text" name="filmName" id="filmName" value="{{ film.name or ''}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="desc" class="col-form-label col-md-2" >Описание</label>
            <div class="col-md-6">
                <input class="form-control" type="text" name="desc" id="desc" value="{{ film.desc or ''}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="prod_year" class="col-form-label col-md-2" >Год производства</label>
            <div class="col-md-6">
                <input class="form-control" type="text" name="prod_year" id="prod_year" value="{{ film.prod_year or ''}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="country" class="col-form-label col-md-2" >Страна производства</label>
            <div class="col-md-6">
                <input class="form-control" type="text" name="country" id="country" value="{{ film.country or ''}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="director" class="col-form-label col-md-2" >Режисер</label>
            <div class="col-md-6">
                <input class="form-control" type="text" name="director" id="director" value="{{ film.director or ''}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="scenarist" class="col-form-label col-md-2" >Сценарист</label>
            <div class="col-md-6">
                <input class="form-control" type="text" name="scenarist" id="scenarist" value="{{ film.scenarist or ''}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="actors" class="col-form-label col-md-2" >Актеры</label>
            <div class="col-md-6">
                <input class="form-control" type="text" name="actors" id="actors" value="{{ film.actors or ''}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="length" class="col-form-label col-md-2" >Продолжительность</label>
            <div class="col-md-6">
                <input class="form-control" type="text" name="length" id="length" value="{{ film.length or ''}}">
            </div>
        </div>
        <!--<div class="form-group row">
            <label for="genre_id" class="col-form-label col-md-2" >Жанр</label>
            <div class="col-md-6">
                <select name="genre_id" id="genre_id" class="form-control bootstrap-select" multiple>
                    <option value=""  {% if film.id is none %}selected{% endif %}>Не выбрано</option>
                    {% for genre in genres%}
                        <option value="{{ genre }}" {% if genre.id == film.id %}selected{% endif %}>{{ genre.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>-->
        <div class="form-group row">
            <input type="submit" value="Сохранить" class="btn btn-primary">
        </div>
    </form>

{% endmacro %}