{% extends 'base.html' %}

{% block content %}
    
    <table class="table">
        <thead>
            <tr>
                <th>Название фильма</th>
                <th>Год выпуска</th>
                <th>Жанр</th>
                <th>Количество отзывов</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for film in films %}
                <tr class="mt-2">
                    <td class="film-name">{{ film.name }}</td>
                    <td>{{ film.prod_year }}</td>
                    <td>{{ genres[film.id - 1].get(film.id) }}</td>
                    <td>{{ rev_c[film.id - 1].get(film.id) }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{{ url_for('show', film_id=film.id) }}">Просмотр</a>

                            {% if current_user.is_authenticated %}
                                <a class="btn btn-secondary" href="#">Редактировать</a>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-film-modal" data-url="{{ url_for('delete', film_id=film.id)}}">
                                    Удалить
                                </button>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if current_user.is_authenticated %}
        <a class="btn btn-primary" href="{{ url_for('new') }}">Создать пользователя</a>
    {% endif %}


    <nav class="pl-3" aria-label=" Page navigation example">
        <ul class="pagination justify-content-center" id="pge">
            
        </ul>
    </nav>


    <div class="modal" tabindex="-1" role="dialog" id="delete-film-modal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Удаление записи</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Вы уверены, что хотите удалить пользователя <span id="film-name"></span>?</p>
            <form action="" method="post" class="d-none">
                <input type="submit" id="delete-btn">
            </form>
          </div>
          <div class="modal-footer">
            <label for="delete-btn" class="btn btn-danger mb-0">Да</label>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}