{% extends 'base.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="blog-post-meta h6 font-weight-light">
        Posted {{ post.date.strftime('%d.%m.%Y') }} by <span class="text-muted">{{ post.author }}</span>
    </p>
    <div class="col">
        <div class="row-md-12">
            <img class="mx-auto d-block" src="{{ url_for('static', filename='images/' ~ post.image_filename) }}" style="width: 50%">
        </div>
        <div class="row-md-12 text-justify text-size-2 d-flex align-items-center mt-5">
            <p>
                {{ post.text }}
            </p>
        </div>

        <form class="row-md-12 mx-2">
            <div class="card mb-2">
                <div class="card-header mb-2">
                    <h3 class="panel-title">Comments</h3>
                </div>
                <div class="form-group mx-2">
                    <input type="text" class="form-control" style="height: 75px; padding-top: 30px;" id="Comment">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>

        <div class="row-md-12 mt-2">
            <ul>
                {% for comment in post.comments %}
                    <li type="none" class="rounded mb-2">
                        <img class="avatar rounded" src="{{ url_for('static', filename='images/avatar.jpg') }}" style="width: 30px; float: left; margin-right: 20px;" alt="">
                        <div class="font-italic h4">
                            > {{ comment.author }}
                        </div>
                        <div>
                            {{ comment.text }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


{% endblock %}