{% extends 'base.html' %}

{% block content %}

    <h1 class="my-5">Задания к лабораторной работе</h1>

    <p>
        Создайте страницы, на которых отображаются
        <ul>
            <li>параметры URL,</li>
            <li>заголовки запроса,</li>
            <li>cookies,</li>
            <li>параметры формы.</li>
        </ul>
    </p>

{% endblock %}