{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-6">
                <img src="{{ poster }}" alt="#">
            </div>
            <div class="col-sm-9 col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ film.name }}</h5>
                        <p class="card-text">Жанры: {{genres}}</p>
                        <p class="card-text">Год выпуска: {{ film.prod_year }}</p>
                        <p class="card-text">Страна выпуска: {{ film.country }}</p>
                        <p class="card-text">Режиссер: {{ film.director }}</p>
                        <p class="card-text">Сцеранист: {{ film.scenarist }}</p>
                        <p class="card-text">Актеры: {{ film.actors }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-24 col-md-11">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{ film.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-24 col-md-11">
                <h5 class="text-center">Рецензии</h5>
            </div>    
        </div>
        {% for review in reviews %}
        <div class="row mt-3">
            <div class="col-sm-24 col-md-11">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <h5 class="card-title">{{review.ln}} {{review.fn}} {{review.mn}}</h5>
                                <p class="card-text">{{review.description}}</p>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <p class="card-text">{{review.login}}</p>
                                <p class="card-text">Оценка: {{review.rating}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}