{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3">Экзаменационное задание</h1>

    <p>
        Цели работы
        <ul>
            <li>Показать уровень владения, освоенными в ходе семестра, навыками</li>
        </ul>
    </p>
{% endblock %}